@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  margin: 5rem auto;
  width: 75%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  white-space: nowrap;
  column-gap: 2rem;
}

.card {
  margin-top: 2rem;
}
